# IDE
.vscode/
.idea/
*.swp
*.swo

# Backend
target/
*.class
*.log
build*.log
debug.log

# Frontend
node_modules/
.angular/
dist/
*.ngcc.log

# OS
.DS_Store
Thumbs.db

.env
.env.local
.env.production
.env.test
.env.development

backend/portfolio-app/src/main/resources/application.yaml
backend/portfolio-app/src/main/resources/application-*.yaml